.container
  .row
    .col.s12
      %p Current Picks broken out by pick set and with backupsw/ daily performance. Will be a table, each row is a pick set
      %table
        %tr
          %th Pick Set
          %th Tournament
          %th Pick
          %th Current Standings
        %tr

  .row
    .col.s12
      %p Current progress vs personal historical progress
      %table
        %tr
          %th
          %th Total
          %th Majors
          %th FedEx Playoffs
          %th Cuts Mads
        %tr
          %th 2014

        %tr
          %th 2015

        %tr
          %th 2016-1

        %tr
          %th 2016-2

  .row
    .col.s12
      %p Historical winner performance tracker, all years
      %table
        -years = supported_years
        %tr
          %th
          -years.each do |y|
            %th=y

        -years.each do |y|
          -if @historical_performances[y]
            -@historical_performances[y].each do |year_perfs|
              -year_perfs.each do |perf|
                %tr
                  %th=perf.title
                  %td=number_to_currency(perf.winnings, :precision => 0)

  .row
    .col.s6
      =render file: 'tournaments/index'

    .col.s6
      =render file: 'picks/index'

