.container
  .row
    .col.s12
      %h4=link_to 'Golfers', golfers_path

  .row
    .col.s12
      %table
        %thead
          %tr
            %th Name

        %tbody
          - @golfers.each do |golfer|
            %tr
              %td= golfer.display_name
  .row
    .col.s12
      = link_to 'New Golfer', new_golfer_path, class:"btn"
