.container
  =form_for @pick do |f|
    .row.valign-wrapper
      .col.s3
        -if @pick.backup
          %span.bold Backup
        %p=@pick.golfer.display_name

      .col.s3.input-field
        =f.number_field :winnings
        =f.label :winnings

      .col.s3
        =f.submit 'Save Winnings', class:"btn"

