.container
  .row
    .col.s12
      %h4=link_to 'Picks', picks_path

  .row
    .col.s12
      %table
        %thead
          %tr
            %th Golfer
            %th Tournament
            %th Winnings

        %tbody
          - @picks.each do |pick|
            %tr
              %td= pick.golfer.display_name
              %td= pick.tournament.name
              %td= pick.winnings

  .row
    .col.s12
      = link_to 'New Pick', new_pick_path, class:"btn"
