.container
  .row
    .col.s12
      %h4=link_to 'Picks', picks_path

  .row
    .col.s12
      %table
        %thead
          %tr
            %th Golfer
            %th Tournament
            %th Winnings

        %tbody
          - @picks.each do |pick|
            %tr
              %td= pick.golfer.display_name
              %td= pick.tournament.name
              -if pick.winnings
                %td= pick.winnings
              -else
                %td=link_to "Add Winnings", edit_pick_path(pick), class:"btn"

  .row
    .col.s12
      = link_to 'New Pick', new_pick_path, class:"btn"
