html {
  font-family: Arial, sans-serif;
}

.body-elements {
  position: absolute;
  top: $navbar-height+2;
  background: $gray-lighter;
  width: 100%;
  height: 100%;
}

.container {
  width: 85%;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
