%nav
  .nav-wrapper.top-nav-wrapper
    %h1.left
      =link_to "Fantasy Golf Manager", root_url
    // select statement: allows user to change account

    %ul.right
      %li
        %a.user-name{href:true}
          Matt Hinger
          %i.material-icons.right arrow_drop_down
